#at_distributor as domain
type at_distributor, domain, domain_deprecated, mlstrustedsubject;
type at_distributor_exec, exec_type, file_type;
init_daemon_domain(at_distributor)

#net_domain(at_distributor)
#allow at_distributor {
#    at_distributor_exec
#    system_file
#}:file x_file_perms;

#allow at_distributor to access dpm_data_file
#allow at_distributor at_distributor_data_file:file create_file_perms;
#allow at_distributor at_distributor_data_file:dir create_dir_perms;


#allow at_distributor sysfs_wake_lock:file rw_file_perms;

#self capability
#allow at_distributor self:{
#    socket
#    netlink_socket
#} rw_socket_perms;

#allow at_distributor self:capability {
#    setuid
#    setgid
#    dac_override
#    net_raw chown
#    fsetid
#    net_admin
#    sys_module
#};
#
#socket, self
#allow at_distributor smem_log_device:chr_file rw_file_perms;
#wakelock_use(at_distributor)

#set_prop(at_distributor, system_prop)
#set_prop(at_distributor, ctl_default_prop)

#misc.
#allow at_distributor shell_exec:file rx_file_perms;

#permission to unlink dpmwrapper socket
#allow at_distributor socket_device:dir remove_name;

#permission to communicate with cnd_socket for installing iptable rules
#unix_socket_connect(at_distributor, cnd, cnd);

#allow at_distributor to create socket
#allow at_distributor self:socket create_socket_perms;
#allow at_distributor self:{ netlink_socket netlink_generic_socket } create_socket_perms;

#allow at_distributor to write to /proc/net/sys
allow at_distributor proc_net:file write;

#allow at_distributor get appname and use inet socket.
#at_distributor_socket_perm(appdomain)
#at_distributor_socket_perm(system_server)
#at_distributor_socket_perm(mediaserver)
#at_distributor_socket_perm(mtp)
#at_distributor_socket_perm(wfdservice)
#at_distributor_socket_perm(drmserver)
#at_distributor_socket_perm(netd)

#explicitly allow udp socket permissions for appdomain
#allow at_distributor appdomain:udp_socket rw_socket_perms;

#diag
#userdebug_or_eng(`
#    diag_use(at_distributor)
#')
