#at_distributor as domain
type at_distributor, domain, domain_deprecated, mlstrustedsubject;
type at_distributor_exec, exec_type, file_type;
init_daemon_domain(at_distributor)

